{% extends 'base_layout.html' %}

{% block content %}
<h2>Credentials for {{ customer.name }}</h2>
<table>
    <tr>
        <th>Username</th>
        <th>Actions</th>
    </tr>
    {% for credential in credentials %}
    <tr>
        <td>{{ credential.username }}</td>
        <td>
            <a href="{% url 'customers:credential_edit' customer.id credential.id %}">Edit</a>
            <a href="{% url 'customers:credential_delete' customer.id credential.id %}" onclick="return confirm('Are you sure you want to delete this credential?');">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'customers:credential_create' customer.id %}">Add Credential</a>
{% endblock %}
