{% extends 'base_layout.html' %}

{% block content %}
<h2>Welcome, {{ user.username }}</h2>
<h3>Your Timesheets</h3>
<table>
    <tr>
        <th>Timesheet ID</th>
        <th>Date</th>
        <th>Time In</th>
        <th>Time Out</th>
        <th>Total Charge</th>
    </tr>
    {% for timesheet in timesheets %}
    <tr>
        <td>{{ timesheet.timesheet_id }}</td>
        <td>{{ timesheet.date }}</td>
        <td>{{ timesheet.time_in }}</td>
        <td>{{ timesheet.time_out }}</td>
        <td>{{ timesheet.total_charge }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'accounts:logout' %}">Logout</a>
{% endblock %}
