{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ace Technology Inc.</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="top-left-logo">
            <a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" alt="AceTechnology" /></a>
        </div>
        {% if user.is_authenticated %}
        <div class="logout-button">
            <form action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
        {% endif %}
    </header>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 Ace Technology Inc.</p>
    </footer>
</body>
</html>
